header{
    width: 100%;
    background-color: #262626;
}

header h1{
    display: inline-block;
    margin: 5px;
    color: #ffcf75;
    padding: 8px;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

header{
    position: relative;
    display: inline-block;
    margin: 0;
    color: #dddddd;
    vertical-align: middle;
}

header p{
    float: right;
    text-align: right;
    margin: 8px;
}

.logo{
    float: left;
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    background-color: #3a3a3a;
}

.top-nav{
    background-color: #21f064;
    padding: 3px;
}

body{
    margin: 0;
    top: 0;
    height: 200vh;
}